.App {
  text-align: center;
  background: url(./slowmadAppBackground.png) no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}