@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&family=Roboto:wght@100;400;500&display=swap');

.logo {
    font-size: 1.6rem;
    color: burlywood;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.navbar-links {
    color: #fff;
    margin: 0 25px;
    display: flex;
    text-decoration: none;
}

.responsive-nav-links {
    color: 'red' !important;
}

.active {
    color: burlywood;
    font-weight: 600;
    text-decoration: none;
}