@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.container {
    padding-top: 10rem;
    color: #fff;
}

.app-title {
    text-align: center;
    margin-top: 9%;
    font-size: 3.5rem;
}

.items-container,
.app-description {
    display: flex;
    justify-content: space-evenly;
}

.app-description {
    margin-bottom: 4rem;
    font-style: italic;
    color: burlywood;
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}